/*-----------------  GOOGLE FONTS  -----------------*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/*-----------------  VARIABLES  -----------------*/
:root {
    /* Colors */
    --gold_color: rgb(255, 215, 0);
    --body_background: linear-gradient(to right, #141e30, #243b55);
    --spin_background: linear-gradient(to right, #ceea69, #f7b733);
}
/*-----------------  Base  -----------------*/

body {
  background: var(--body_background);
}
/*-----------------  Styling Start  -----------------*/
.header{
  font-size: 25px;
  color: white;
}
.wheel_box {
  position: relative;
  width: 100%;
  height: 100%;
}
#spinWheel {
  max-height: 540px;
  width: 960px;
  transform: rotate(270deg);
}
#spin_btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background: var(--spin_background);
  color: #606061;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.fa-solid {
  font-size: 4rem;
  color: #2292a7;
}
.text{
  color:white;
}
